
.container {

    left: 0px;
    width: 1920px;
        
}
.container nav{

    justify-content: center;

}

.header {
    
    top: 0px;
    left: 0px;
    height: 110px;
    width: 1920px;
    background-color: #b6bbc2;
    outline-width: 1px;
    outline-color: black;
    display:flex;
    border-bottom:1px solid #404041;
} 
 
    .header img{
    
    width:300px;
    height:91px;
    align-self: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 9px;
    margin-bottom: 9px;
      
    }
  .header h1{
    width: 1620px;  
    font-family: 'Open Sans', sans-serif;
    color:#242021;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;   
    display: inline;
    justify-self: center;
    align-self: center; 
    text-align: center;   
      
    
}

.header h2 {
    font-family: "Bookman";
    color: #ba3131;
    padding: 10px;     
}

.header h3 {
    font-family: "Bookman";
    color: #ba3131;
       
}


.section {
    position: relative;
    top: 0px;
    left: 0px;
    height: 675px;
    width: 1920px;
    background-color: White;
} 

.dropdown{


}

.dropdown:hover {

    color: #ba3131;

}



.footer {
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    background-color: #f47321;
} 

/* Misc CSS*/

.center {

    margin-left: auto;
    margin-right: auto;  
}

.left {

    margin-left: 0%;
    
}

.right {

    margin-right: 100%; 
    
}

#navpad {
    float: left;
    display:inline;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    border-right:1px solid #C2C2C2;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;
    width: 138px;
    height: 38px;
}
/* Main Navigation */
#nav {
    position:relative;
    justify-content: center;
    width:1920px;
 
}
 
ul#navigation {
    margin:0px auto;
    position:relative;
    float: none;
    border-left:1px solid #c4dbe7;
    border-right:1px solid #c4dbe7;
}
 
ul#navigation li {
    display:inline;
    font-size:18px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    border-top:1px solid #c4dbe7;
    /* border-bottom:2px solid #c4dbe7;*/
    border-bottom:1px solid #404041;
}
 
ul#navigation li a {
    padding:10px 25px;
    color:#404041;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;
    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}
 
ul#navigation li a:hover {
    background:#f8f8f8;
    color:#f47321;
    opacity: 0.5;
}

ul#navigation li a:active {
        opacity: 1.0;
}
ul#navigation li a.first {
    border-left: 0 none;
}
 
ul#navigation li a.last {
    border-right: 0 none;
}
 
ul#navigation li:hover > a {
    background:#f47321;
    opacity: 0.5;
}

ul#navigation li:active > a {
    opacity: 1.0;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul

{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}
 
ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color: #404041;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}